import React from 'react';

import classes from './{{pascalCase name}}.module.scss';

export type Props = {};

const {{pascalCase name}} = (props:Props) => {
    return (
        <div>
            {{pascalCase name}}
        </div>
    );
}

export default {{pascalCase name}};